<footer class="container mb-4">
    <div class="row justify-content-center align-items-center">
        <div class="col-lg-4 mt-4 mt-lg-0">
            <div class="row align-items-center">
                <div class="col-12 col-lg-3 text-center text-lg-start mb-2 mb-lg-0">籌辦：</div>
                <div class="col-12 col-lg-9 text-center">
                    <a href="https://lab.depositar.io/" target="_blank"><img src="/assets/img/depositar-logo.svg" class="img-fluid mx-auto"/></a>
                </div>
            </div>
        </div>
        <div class="col-lg-1"></div>
        <div class="col-lg-7">
            <div class="row align-items-center">
                <div class="col-12 col-lg-2 text-center text-lg-start mb-2 mb-lg-0">贊助：</div>
                <div class="col-12 col-lg-10">
                    <div class="row row-cols-2 row-cols-md-4 align-items-center">
                        <div class="col col-lg-2 py-2">
                            <a href="https://www.iis.sinica.edu.tw/zh/index.html" target="_blank"><img src="/assets/img/iis-logo.png" class="img-fluid mx-auto"/></a>
                        </div>
                        <div class="col col-lg-2 py-2">
                            <a href="https://www.citi.sinica.edu.tw/" target="_blank"><img src="/assets/img/citi-logo.png" class="img-fluid mx-auto"/></a>
                        </div>
                        <div class="col col-lg-3 py-2">
                            <a href="https://sites.google.com/view/ltser-taiwan/" target="_blank"><img src="/assets/img/ltser-taiwan-logo.png" class="img-fluid mx-auto"/></a>
                        </div>
                        <div class="col col-lg-3 py-2">
                            <a href="https://codata.sinica.edu.tw/" target="_blank"><img src="/assets/img/codata-logo.svg" class="img-fluid mx-auto"/></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr>

    <div class="d-flex flex-wrap">
        <span class="me-3">
            ODW.TW:
            <a href="https://odw.tw/2013/index.html" target="_blank">2013</a>
            |
            <a href="https://odw.tw/2014/index.html" target="_blank">2014</a>
            |
            <a href="https://odw.tw/jwodr2015/index.html" target="_blank">2015</a>
            |
            <a href="https://odw.tw/2016/index.html" target="_blank">2016</a>
            |
            <a href="https://odw.tw/2017/index.html" target="_blank">2017</a>
            |
            <a href="https://odw.tw/RDMW2018/index.html" target="_blank">2018</a>
            |
            <a href="https://odw.tw/RDMTW2020/index.html" target="_blank">2020</a>
            |
            <a href="https://odw.tw/2021/" target="_blank">2021</a>
            |
            <a href="https://2023.odw.tw/" target="_blank">2023</a>
        </span>
        <span class="text-nowrap">聯絡我們：rdm.contact AT depositar.io</span>
    </div>
    <a href="http://creativecommons.org/licenses/by/4.0/" rel="license"><img src="https://i.creativecommons.org/l/by/4.0/88x31.png" alt="Creative Commons License"></a><br>This work is licensed under a <a href="http://creativecommons.org/licenses/by/4.0/" rel="license">Creative Commons Attribution 4.0 International License</a>.
</footer>
